.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-create {
    width: 450px;
}

.task-update {
    width: 100%;
}

.task-form {
    display: flex;
    flex-direction: column;
}

.task-label {
    margin: 10px 0;
}

.task-input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 18px;
    text-align: center;
}

.task-button {
    margin: 10px 0px;
    border: 1px solid green;
    padding: 10px;
    border-radius: 18px;
    background-color: green;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.update-button {
    background-color: blueviolet;
    border: none;
}

.task-button:hover {
    transform: scale(1.06);
}

.task-show {
    border: 1px solid green;
    border-radius: 30px;
    margin: 20px;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-title {
    margin-bottom: 5px;
}


.task-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-delete {
    padding: 5px;
    font-size: 15px;
    width: 60px;
    border: none;
    border-radius: 30px;
    background-color: red;
    color: white;
    margin-right: 10px;
}

.task-edit {
    padding: 5px;
    font-size: 15px;
    width: 100px;
    border: none;
    border-radius: 30px;
    background-color: green;
    color: white;
    margin-right: 10px;
}