.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-create {
    width: 450px;
}

.task-form {
    display: flex;
    flex-direction: column;
}

.task-label {
    margin: 10px 0;
}

.task-input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 18px;
    text-align: center;
}

.task-button{
    margin: 10px 0px;
    border: 1px solid green;
    padding: 10px;
    border-radius: 18px;
    background-color: green;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.task-button:hover{
    transform: scale(1.06);
}