@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  color: white;
}

#root{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  width: 100%;
  width: auto;
  background-color: #001277;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container-mobile{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.my-name{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.menu-section{
  width: 80%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.menu-section a{
  text-decoration: none;
}