.list-category {
    font-size: 2.5em;
    font-weight: bold;
    color: gray;
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
    background-color: aqua;
}

.listItems li {
    font-size: 2em;
    list-style: none;
    color: gray;
    text-align: center;
    margin: 0;
}

.list-items li:hover {
    color: red;
    cursor: pointer;
}