/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, 'sans-serif';
    height: 100vh;
    background-image: url(assets/wallhaven-g7lzv7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: hsl(0, 0%, 10%);
} 
*/

/* .color-picker-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 50px;
    font-size: 3rem;
}

.color-display{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid hsl(90, 6%, 55%);
    border-radius: 25px;
    margin-bottom: 25px;
    transition: 0.25s ease;
}
.color-display p{
  color: aqua;  
  font-size: 2rem;
  text-align: center;
}

label{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="color"]{
    width: 75px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: px solid hsl(0, 0%, 80%);
} */


/* .to-do-list{
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
    color: white;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}

.add-button{
    background-color: green;
}

.add-button:hover{
    background-color: rgb(70, 202, 37);
}
.delete-button{
    background-color: rgb(214, 21, 21);
}

.delete-button:hover{
    background-color: rgb(151, 0, 0);
}

.move-button{
    background-color: rgb(29, 55, 202);
}
.move-button:hover{
    background-color: rgb(106, 140, 255);
}

input[type="text"]{
    font-size: 1.6rem;
    pad: 10px;
    border: 2px solid rgb(128, 105, 105);
    border-radius: 5px;
    color: rgb(0, 33, 95);
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: rgb(255, 236, 236);
    margin-bottom: 10px;
    border: 3px solid rgb(237, 220, 255);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text{
    flex: 1;  
}

.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
} */

/* .clock-container{
    backdrop-filter: blur(5px);
    width: 100vw;
    padding: 10px 0;

}

.clock{
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    text-shadow: 3px 3px 5px hsla(0,0%,0%,0.5);
} */



.box {
    border: 3px;
    padding: 25px;
    border: 2px solid white;
}