.counter-container{
    text-align: center;
    font-family: Arial, 'sans-serifS';
}

.count-display{
    font-size: 10em;
    margin-top: 0;
    margin-bottom: 50px;
}

.counter-button{
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 10px;
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.counter-button:hover{
    background-color: aquamarine;
    transform: scale(1.1);
}